<%
var headContent = {
include("/pages/template/head.html"){}
%>


<link rel="stylesheet" href="${BASE_PATH }static/component/bootstrap-treeview/bootstrap-treeview.min.css">
<script src="${BASE_PATH }static/component/bootstrap-treeview/bootstrap-treeview.js"></script>
<link rel="stylesheet" href="${BASE_PATH }static/component/bootstrap/css/bootstrap.css">

<script type="text/javascript">
    var m_parentId = 0;
    $(function () {
        $('#tree').treeview({
            data: getTree(0), onNodeSelected: function (event, data) {
                m_parentId = data.id;
                m_path=data.path+","+data.id;
                var tmpData = getTree(data.id);
                $('#tbDetail').bootstrapTable('load', {data: tmpData});
            }

        });

        $('#tree').on("nodeExpanded", function (event, data) {

            var currNode = $('#tree').treeview('getNode', data.nodeId);
            if (currNode.nodes && currNode.nodes.length > 0 && currNode.nodes[0].id === 10000) {

                var tmpData = getTree(data.id);

                $("#tree").treeview("addNode",

                    [data.nodeId, {nodes: tmpData}]
                );
            }
        });

        loadDataToTable("tbDetail", getTree(0));
    });

    function loadDataToTable(tablename, data) {

        $('#' + tablename).bootstrapTable({
            toolbar: "#toolbar",
            data: data,
            formatLoadingMessage: function () {
                return "";
            },
            columns: [{
                field: 'id',
                title: '序号',
                align: 'center',
                width: '10%',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },
                {
                    field: 'text',
                    title: '评分内容',
                    align: 'center',
                    width: '60%'

                },
                {
                    field: 'scorce',
                    title: '分值',
                    align: 'center',
                    width: '10%'

                },
                {
                    field: 'id',
                    title: '操作',
                    align: 'center',
                    width: '20%',
                    formatter: function formatter(value, row, index, field) {
                        return '<button class="btn btn-sm btn-primary" onclick="edit(' + value + '); return false;">修改</button>'+
                            '<button class="btn btn-sm btn-primary" onclick="del(' + value + '); return false;">删除</button>'
                    }

                }
            ]
        });
    }

    function getTree(parentId) {

        var data;
        $.ajax({
            url: 'admin/scoretemplate/children',
            type: 'get',
            async: false,//使用同步的方式,true为异步方式
            data: {'parentId': parentId},//这里使用json对象
            success: function (result) {
                data = result;
            },
            fail: function () {
                //code here...
            }
        });

        for (d in data) {
            var tempItem = data[d];

            if (tempItem.nodes == true) {
                tempItem.nodes = [{id: 10000, nodeId: 10000, text: "",path:""}];
                tempItem.state = {
                    expanded: false
                }
            }
        }

        return data;
    }

    function edit(id) {
        var url = 'admin/scoretemplate/edit/' + id;
        var title = '修改';
        Iframe(url, 800, 300, title, false, false, false, function () {
            var tmpData = getTree(m_parentId);
            $('#tbDetail').bootstrapTable('load',{data:tmpData});
        });
    }
    var m_path='';

    function add() {
        var url = 'admin/scoretemplate/add/?parentId=' + m_parentId+'&path='+m_path;
        var title = '';
        if (m_parentId == 0) {
            title = '添加模版';
        } else {
            title = '添加评分项';
        }
        Iframe(url, 800, 300, title, false, false, false, function () {
             var tmpData = getTree(m_parentId);
             $('#tbDetail').bootstrapTable('load',{data:tmpData});
        });
    }

    function doRefresh() {
        window.location.href = window.location.href;
    }

    function del(id) {
        var url = 'admin/scoretemplate/delete/' + id;
        $.get(url,{},function (o) {
            Alert(o,function () {
                var tmpData = getTree(m_parentId);
                $('#tbDetail').bootstrapTable('load',{data:tmpData});
            });

        });
    }
</script>

<%
};

var bodyContent = {
%>
<!-- 菜单 -->
<% include("/pages/template/menu.html"){} %>

<!-- 工具容器 -->
<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-default" onclick="add();">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>

</div>
<form name="form1" action="" method="post" class="form-inline" role="form">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">模版维护</h3>
        </div>
        <div class="panel-body">
            <div style="width: 50%;float: left;">
                <button id="btn_showTempl" type="button" class="btn btn-default" onclick="doRefresh();return false;">
                    刷新
                </button>
                <div id="tree"></div>
            </div>
            <div style="width: 50%;float: left;">
                <table data-mobile-responsive="true"
                       class="table-bordered table-condensed table-hover table" id="tbDetail">

                </table>
            </div>

        </div>
    </div>
</form>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>