<%
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
include("/pages/template/head.html"){}
%>
<link rel="stylesheet" href="static/component/bootstrap-fileinput-master/css/fileinput.css">

<script type="text/javascript">

    var oper = {
            save: function (id) {
                initSaveForm();
                if (!validForm()) {
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    url: 'admin/activityfill/save',
                    data: $("form").serialize(),
                    success: function (busi_activity_id) {
                        if (busi_activity_id) {
                           // $("#busi_activity_id").val(busi_activity_id);
                            $("form").append('<input type="hidden" name="busi_activity_id" value="'+busi_activity_id+'">');
                            Alert("保存成功", function () {
                                $("form").action = "${BASE_PATH}admin/activityfill";
                                $("form").submit();
                            });


                        } else {
                            Alert('提交失败：' + data.msg);
                        }
                    },
                    error: function (html) {
                        var flag = (typeof console != 'undefined');
                        if (flag) console.log("服务器忙，提交数据失败，代码:" + html.status + "，请联系管理员！");
                        alert("服务器忙，提交数据失败，请联系管理员！");
                    }
                });

                // return true;
            }
            , submit: function (id) {
                id = id || '0';
                var url = 'admin/activityfill/submit';
                Confirm("【温馨提示：提交报名后报名资料不可修改】", function () {
                    $.get(url, {id: id}, function (o) {
                        if (parseInt(o) > 0) {
                            Alert("提交填报成功", function () {
                                window.location.href = "${BASE_PATH}admin/home";
                            });

                        } else {
                            Alert("提交填报失败");
                        }

                    });

                });
            }
        }
    ;

    function initSaveForm() {

        //获取model.core_tech_contents

        var litoarr = [];
        $("#ul_core_tech_contents li").each(function (e) {
            litoarr.push($(this).find("span").text());
        });

        $('#modelcore_tech_contents').val(litoarr.join("$$"));


        //获取model.project_type

        var arrIds = [];
        $(".divbelongfieldtype").find(":checkbox:checked").each(function (o) {
            arrIds.push($(this).val())
        });

        $("#modelproject_type").val(arrIds.join(","));


        //获取model.from_belongfields

        var arrIds = [];
        $("#divfrom_belongfields :checked").each(function (o) {
            arrIds.push($(this).val())
        });

        $("#from_belongfields").val(arrIds.join(","));
    }


    //添加核心技术
    function addItem() {
        var v = $("#core_tech_contents").val();
        if (v == "") {
            alert("请输入核心技术");
            return;
        }
        $("#ul_core_tech_contents").append('<li class="list-group-item"><span>' + v + '</span><a style="float: right;" href="javascript:(0);" onclick="deleteLi(this);return false;">删除</a></li>');
        $("#core_tech_contents").val('');
    }

    function deleteLi(o) {
        $(o).parent().remove();
    }

    function initFileInput(ctrlName, uploadUrl) {
        var control = $('#' + ctrlName);

        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: uploadUrl, //上传的地址
            // allowedFileExtensions: ['jpg', 'png', 'gif', 'rar', 'zip'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: true,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            allowedPreviewTypes: ['image', 'html', 'text', 'video', 'audio', 'flash', 'object']


        });
    }

    function setFileInput() {
        var modeid = $("#modelid").val();
        if (isEmpty(modeid)) {
            $("#inputFile").click(function () {
                Alert("请先保存填报信息");
                return false;
            });

        } else {
            initFileInput('inputFile', '${BASE_PATH }admin/file/upload/' + modeid);
        }
    }

    $(function () {

        setFileInput();

        //导入文件上传完成之后的事件
        $("#inputFile").on("fileuploaded", function (event, data, previewId, index) {

            $("#filelist").append(' <li class="list-group-item"><span>' + data.response.name + '</span>' +
                '<a style="float: right;" target="_blank" href="${BASE_PATH }' + data.response.path + '"> <span class="badge">下载</span></a>'
                + '<a style="float: right;" href="javascript:(0);" onclick="delfile(data.response.id,this);return false;"><span class="badge">删除</span></a></li>');

        });


        var project_status = "${model.project_status}";
        if ("1" == project_status) {
            $("#btnSave").hide();
            $("#btnSubmit").hide();
            $("#filelist a").hide();
            $(".file-input").hide()
        }


    });

    function delfile(id, o) {

        //todo删除先不做
        var url = '${BASE_PATH }admin/file/delete'
        $.get(url, {id: id}, function (results) {
            debugger;
            if (results == "true") {
                $(o).parent().remove();
            } else {
                Alert("删除文件失败");
            }
        })
    }

    function closeIframeReload() {
        var url = '${pre_page}';
        form1.action = url;
        form1.submit();
    }

</script>

<%
};

var bodyContent = {
%>

<form name="form1" action="" method="post" class="form-horizontal" role="form">
    <input type="hidden" name="model.id" id="modelid" value="${model.id!}"/>
    <input type="hidden" name="model.busi_activity_id" id="busi_activity_id" value="${model.busi_activity_id!}"/>

    <input type="hidden" id="modelcore_tech_contents" valid="vtext" validname="核心技术"
           name="model.core_tech_contents" value="${model.core_tech_contents}"/>

    <div class="container-fluid">

        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <!-- 菜单 -->
            <% include("/pages/template/menu.html"){} %>

            <fieldset>

                <div id="legend" class="">
                    <legend class="">报名基本信息填写</legend>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            项目来源
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目类型</label>

                            <div class="col-sm-10 divbelongfieldtype">
                                <input name="model.project_type" id="modelproject_type" valid="vtext" validname="项目类型"
                                       value="${model.project_type!}" type="hidden">${projecttypeselect}
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目编号</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="项目编号" id="model.project_no" class="form-control"
                                       name="model.project_no"
                                       value="${model.project_no!}"/>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目名称</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="项目名称" id="model.from_project_name" class="form-control"
                                       name="model.from_project_name"
                                       value="${model.from_project_name!}"/>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            项目基本信息填写
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目名称</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="项目名称" id="model.project_name" class="form-control"
                                       valid="vtext"
                                       name="model.project_name"
                                       value="${model.project_name!}"/>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目团队其他人员</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="项目团队其他人员" id="model.from_other_menbers" valid="vtext"
                                       class="form-control" name="model.from_other_menbers"
                                       value="${model.from_other_menbers!}"/>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目所属专业</label>
                            <div class="col-sm-10" id="divfrom_belongfields">
                                <input name="model.from_belongfields" id="from_belongfields" valid="vtext"
                                       value="${model.from_belongfields!}" type="hidden" validname="项目所属专业">

                                ${belongfieldselect}

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目自评价</label>
                            <div class="col-sm-10">


                                <select class="form-control" id="tech_maturity" name="model.tech_maturity"
                                        valid="vselect">
                                    <option value="-1">请选择技术成熟度</option>
                                    ${tech_maturityselect!}
                                </select>

                                <select class="form-control" id="core_tech" name="model.core_tech" valid="vselect">
                                    <option value="-1">请选择核心技术掌握情况</option>
                                    ${core_techselect!}
                                </select>

                                <select class="form-control" id="intell_right" name="model.intell_right"
                                        valid="vselect">
                                    <option value="-1">请选择知识产权权属情况</option>
                                    ${intell_rightselect!}
                                </select>

                                <select class="form-control" id="market_competitive" name="model.market_competitive"
                                        valid="vselect">
                                    <option value="-1">请选择市场竞争力</option>
                                    ${market_competitiveselect!}
                                </select>

                                <select class="form-control" id="projected_returns" name="model.projected_returns"
                                        valid="vselect">
                                    <option value="-1">请选择预计转化收益</option>
                                    ${projected_returnsselect!}
                                </select>
                            </div>

                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label">核心技术</label>
                            <div class="col-sm-9">

                                <input type="text" placeholder="核心技术" id="core_tech_contents" class="form-control"
                                       name="core_tech_contents"
                                />
                            </div>
                            <div class="col-sm-1">
                                <button class="btn" onclick="addItem(); return false;">添加</button>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-9">
                                <ul class="list-group" id="ul_core_tech_contents">${core_tech_contents_li!}
                                </ul>
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">已授权专利数量</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="已授权专利数量" id="model.has_patent_count" valid="vnum_y"
                                       validname="已授权专利数量"
                                       class="form-control"
                                       name="model.has_patent_count"
                                       value="${model.has_patent_count!0}"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">在申请专利数量</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="在申请专利数量" id="model.apply_patent_count" valid="vnum_y"
                                       validname="在申请专利数量"
                                       class="form-control"
                                       name="model.apply_patent_count"
                                       value="${model.apply_patent_count!0}"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">预计所需资金(万元)</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="预计所需资金(万元)" id="model.plan_need_money" valid="vfloat_y"
                                       class="form-control"
                                       name="model.plan_need_money"
                                       value="${model.plan_need_money!0}"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目文件</label>
                            <div class="col-sm-10">
                                <input id="inputFile" name="inputFile" type="file" data-show-preview="false">
                                <ul class="list-group" id="filelist">
                                    ${filelist!}
                                </ul>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目摘要</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="model.project_abstract" valid="vtext"
                                          name="model.project_abstract">${model.project_abstract!}</textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>

            <div style="height: 50px;clear: both;">&nbsp;</div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
                    <button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;" id="btnSave">保
                        存
                    </button>
                    <button class="btn btn-primary" onclick="oper.submit(${model.id!'0'});return false;" id="btnSubmit">
                        提交报名
                    </button>
                    <button class="btn btn-default" onclick="closeIframeReload();">返回</button>
                </div>
            </nav>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</form>

<script src="static/component/bootstrap-fileinput-master/js/fileinput.js"></script>
<script src="static/component/bootstrap-fileinput-master/js/locales/zh.js"></script>

<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>

<%}
DIRECTIVE SAFE_OUTPUT_CLOSE;
%>