<%
var headContent = {
include("/pages/template/head.html"){}
%>

<script type="text/javascript">

    var oper;
    jQuery(function ($) {
        // 页面方法
        oper = {
            width: 800,
            height: 500,
            form: document.form1,
            list: function () {
                var url = 'admin/activity/list';
                this.form.action = url;
                this.form.submit();
            },
            view: function (id) {
                var url = 'admin/advicefeedback/view/' + id;
                var title = '查看意见反馈';
                Iframe(url, this.width, this.height, title, false, false, false, EmptyFunc);
            },
            add: function () {
                var url = 'admin/activity/add';
                var title = '添加';
                Iframe(url, this.width, this.height, title);
            },
            edit: function (id) {
                var url = 'admin/activity/edit/' + id;
                var title = '修改';
                Iframe(url, this.width, this.height, title);
            },
            del: function (id) {
                var url = 'admin/activity/delete/' + id;
                var title = '确认要删除该活动？';
                Confirm(title, function () {
                    form1.action = url;
                    form1.submit();
                });
            }
        };
        //显示Menu索引
        //showMenu('page_advicefeedback');

       initTable();
    });

    //分页
    var paginator = function (page) {
        oper.list();
    };
    var $bootstrapTable;
    var keyid;

    function selectActivity(id) {
        keyid = id;
        $bootstrapTable.bootstrapTable("refresh");
      //  alert("fefe");
       // $bootstrapTable=$('#tb_slave');
       // $bootstrapTable.bootstrapTable("reload",{busi_activity_id: id});
    }

    function initTable() {
        $bootstrapTable = $('#tb_slave').bootstrapTable({
            url: 'admin/activity/busiActivitySlaveBy',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            striped: true,                      //是否显示行间隔色
            queryParams: function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    busi_activity_id: keyid
                };
                return temp;
            }
            ,//传递参数（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）

            clickToSelect: true,                //是否启用点击选中行                    //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列

            columns: [{
                field: 'id',
                title: '序号',
                align:'center',
                width:'5%'
            }, {
                field: 'nodeid',
                title: '活动节点',
                align:'center',
                width:'10%',
                formatter:function formatter(value, row, index, field) {
                    var values=['报名','初赛','复赛','决赛']
                    return values[value];
                }
            }, {
                field: 'from_time',
                title: '开始日期',
                align:'center',
                width:'20%'
            }, {
                field: 'to_time',
                title: '结束日期',
                align:'center',
                width:'20%'
            }, {
                field: 'JudgesUid',
                title: '专家列表',
                align:'center',
                width:'35%'
            }, {
                field: 'operation',
                title: '操作',
                align:'center',
                width:'10%',
                formatter:function formatter (value, row, index, field) {
            return '<a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="">选择评委</a>';
        }


    }]
        });

        var queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                busi_activity_id: keyid
            };
            return temp;
        };
    }

</script>

<%
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-inline" role="form">
    <input type="hidden" name="form.orderColumn" value="${form.orderColumn!''}"/>
    <input type="hidden" name="form.orderAsc" value="${form.orderAsc!''}"/>
    <!-- 菜单 -->
    <% include("/pages/template/menu.html"){} %>

    <div class="tableSearch">
        <% //查询列表 %>
        <div class="form-group">
            <input class="form-control" type="text" name="attr.activity_name" value="${attr.activity_name!''}"
                   placeholder="状态" />
        </div>


        <button type="button" class="btn btn-default" onclick="oper.list();" name="search">
            <span class="glyphicon glyphicon-search"></span> 查 询
        </button>
        <button type="button" class="btn btn-default" onclick="resetForm();">
            <span class="glyphicon glyphicon-refresh"></span> 重 置
        </button>

    </div>
    <div>
        <!-- 数据列表 -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <% // 列表头部 %>
                <th name="project_name" class="sorting">项目名称</th>
                <th name="project_no" class="sorting">项目编号</th>
                <th name="scoretpl_id" class="sorting">申请单位</th>
                <th name="chan_name" class="sorting">负责人</th>
                <th name="score" class="sorting">分数</th>
                <th name="status" class="sorting">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>


    </div>

</form>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>