<%
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
include("/pages/template/head.html"){}
%>

<script type="text/javascript">
    var searchData;
    var $bootstrapTable;
    var projectId = window.location.href.split('/').pop();
    var busi_score_template_id =${busi_score_template_id};
    var busi_activity_slave_id =${busi_activity_slave_id};
    var oper = {
        save: function () {




            baseSave();

            Alert("保存成功",function () {
                getTotalScore();
            });


            return true;
        }
    };
    function baseSave() {
        var valid = true;

        $(".inputscore").each(function () {
            var inputscore = $(this);
            var maxvalue = inputscore.attr("maxvalue");
            //检验不能大于满分
            if (parseInt(maxvalue) < parseInt(inputscore.val())) {
                ErrorInfo("第" + inputscore.attr("name") + "行得分不能大于满分");
                valid = false;
            }
        });

        if (valid == false) {
            return true;
        }

        $(".inputscore").each(function () {

            var inputscore = $(this);
            var oldvalue = inputscore.attr("oldvalue");
            var score_id = inputscore.attr("id");
            var jugdescore = inputscore.val();

            //更新过才修改
            if (oldvalue != jugdescore) {

                $.ajax({

                    type: "get",

                    url: "admin/activityproject/save",

                    cache:false,

                    async:false,
                    data:{score_id: score_id, jugdescore: jugdescore},
                    success: function(){


                    }

                });

                inputscore.attr("oldvalue",jugdescore);
            }



        });
    }
    function checkSave() {
        var isChange=false;
        $(".inputscore").each(function () {

            var inputscore = $(this);
            var oldvalue = inputscore.attr("oldvalue");
            var score_id = inputscore.attr("id");
            var jugdescore = inputscore.val();

            //更新过才修改
            if (oldvalue != jugdescore) {
                isChange=true;
            }



        });

        return isChange;
    }
    $(document).ready(function () {

        //初始化评分表
        initbBusiScoreTemplateRelationScore();

        $(".btn-second").click(function (o) {

            if(checkSave()){
                ErrorInfo("已经评分！请保存！");
                return;
            }

            //baseSave();
            initTable($(this).val());
            setTimeout(function () {
                mergeTable('pre_node', 'tb_score');
            }, 500);


            return false;
        });
        $(".btn-second:first").click();

        getTotalScore();
    });

    //获取总分
    function getTotalScore() {
        $.get('admin/activityproject/getTotalScore', {
            projectId: projectId,
            busi_activity_slave_id: busi_activity_slave_id
        }, function (score) {
            $("#totalscroe").text(score);
        });



    }
    function initbBusiScoreTemplateRelationScore() {



        $.ajax({

            type: "get",

            url: 'admin/activityproject/initbBusiScoreTemplateRelationScore',

            cache:false,

            async:false,
            data:{
                projectId: projectId,
                busi_score_template_id: busi_score_template_id,
                busi_activity_slave_id: busi_activity_slave_id
            },
            success: function(){


            }

        });

    }
    function closeIframeReload() {
        window.history.back(-1);
    }

    function initTable(path) {
        searchData = path;
        if ($bootstrapTable != null) {
            $bootstrapTable.bootstrapTable('refresh', {
                queryParams: function (params) {
                    var temp = {
                        path: searchData
                    };
                    return temp;
                }
            });
            return;
        }

        $bootstrapTable = $('#tb_score').bootstrapTable({
            url: 'admin/activityproject/scorelist',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）//striped: true,
            onLoadSuccess: function (data) {

            },
            //是否显示行间隔色
            queryParams: function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    path: searchData,
                    projectId: projectId
                };
                return temp;
            }
            ,//传递参数（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）

            clickToSelect: true,                //是否启用点击选中行                    //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列

            columns: [{
                field: 'id',
                title: '序号',
                align: 'center',
                width: '10%',
                formatter: function formatter(value, row, index, field) {
                    return index + 1;
                }
            },
                {
                    field: 'pre_node',
                    title: '评分内容',
                    align: 'center',
                    width: '20%'

                }, {
                    field: 'scorce_contents',
                    title: '评分要点',
                    align: 'center',
                    width: '30%'
                }, {
                    field: 'scorce',
                    title: '满分',
                    align: 'center',
                    width: '10%'
                }, {
                    field: 'hasscore',
                    title: '得分',
                    align: 'center',
                    width: '10%',
                    formatter: function formatter(value, row, index, field) {
                        return '<input type="text" name="' + (index + 1) + '" maxvalue="' + row.scorce + '" oldvalue="' + value + '" class="form-control inputscore" id="' + row.busi_score_template_relation_score_id + '" placeholder="0" value="' + value + '"/>';
                    }
                }, {
                    field: 'remarks',
                    title: '备注',
                    align: 'center',
                    width: '20%'
                }
            ]
        });

    }
    function getObjFromTable(field, $table) {
        var obj = [];
        var maxV = $table.find("th").length;

        var columnIndex = 0;
        var filedVar;
        for (columnIndex = 0; columnIndex < maxV; columnIndex++) {
            filedVar = $table.find("th").eq(columnIndex).attr("data-field");
            if (filedVar == field) break;

        }
        var $trs = $table.find("tbody > tr");
        var $tr;
        var index = 0;
        var content = "";
        var row = 1;
        for (var i = 0; i < $trs.length; i++) {
            $tr = $trs.eq(i);
            var contentItem = $tr.find("td").eq(columnIndex).html();
            //exist
            if (contentItem.length > 0 && content == contentItem) {
                row++;
            } else {
                //save
                if (row > 1) {
                    obj.push({"index": index, "row": row});
                }
                index = i;
                content = contentItem;
                row = 1;
            }
        }
        if (row > 1) obj.push({"index": index, "row": row});
        return obj;
    }

    function mergeTable(field, tableid) {
        $table = $('#' + tableid);
        var obj = getObjFromTable(field, $table);

        for (var item in obj) {
            $table.bootstrapTable('mergeCells', {
                index: obj[item].index,
                field: field,
                colspan: 1,
                rowspan: obj[item].row,
            });
        }


    }

</script>

<%
};
var bodyContent = {
%>
<div class="container">

    <form name="form1" action="" method="post" class="form-horizontal" role="form">
        <input type="hidden" name="model.id" value="${model.id!}"/>
        <input type="hidden" name="busi_activity_id" id="busi_activity_id" value="${model.busi_activity_id!}"/>


        <div class="container-fluid">


            <div class="col-md-12">
                <!-- 菜单 -->
                <% include("/pages/template/menu.html"){} %>

                <fieldset>

                    <div id="legend" class="">
                        <legend class="">当前得分<span id="totalscroe">0</span></legend>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                项目基本信息
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-10">
                                    ${model.project_name!}
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">申请单位</label>

                                <div class="col-sm-10">
                                    ${department!}
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">负责人</label>
                                <div class="col-sm-10">
                                    ${createname!}
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目摘要</label>
                                <div class="col-sm-10">
                                    ${model.project_abstract!}
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目文件</label>
                                <div class="col-sm-10">
                                    <ul class="list-group" id="filelist">
                                        ${filelist!}
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                评分列表
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group btn-group-lg">
                                <!--<button type="button" class="btn btn-info btn-second" value="1,4">技术</button>-->
                                <!--<button type="button" class="btn btn-info btn-second">团队</button>-->
                                <!--<button type="button" class="btn btn-info btn-second">市场</button>-->

                                ${secendType}
                            </div>
                            <div class="form-group">
                                <table data-mobile-responsive="true"
                                       class="table-bordered table-condensed table-hover table" id="tb_score">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>评分内容
                                        </th>
                                        <th>评分要点
                                        </th>
                                        <th>满分
                                        </th>
                                        <th>得分
                                        </th>
                                        <th>备注
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div style="height: 50px;clear: both;">&nbsp;</div>
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
                        <button class="btn btn-primary" onclick="oper.save();return false;" id="btnSave">
                            保存
                        </button>
                        <a href="javascript:(0);" class="btn btn-default" onclick="closeIframeReload(); return false;">返回</a>
                    </div>
                </nav>
            </div>


        </div>
    </form>


</div>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE;
%>